/* TODO: MENU X and MENU HAMBURGER LOOKS KINDA WEIRD when opening and closing
  RESERVATIONS is sliding out of the yellow box when sizing down */


body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

/* .wrapper */
/* easy way to give every child of wrapper some margin */
.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* doing grid-template-areas is recommended by wes to make
  a responsive layout */
.top {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "hero hero cta1"
    "hero hero cta2"
}

.hero {
  /* basically you set the areas in the parent up there */
  /* then you just to grid-area and set it to the name you made */
  /* it should then fall into place in the grid */
  grid-area: hero;

  min-height: 400px;
  background: white url(images/taco.jpg);
  background-size: cover; 
  /* this makes the image anchor on the bottom right */
  /* resize the page larger to see what it does */
  background-position: bottom right;
  padding: 50px;
  /* we want the yellow just to go up to the end of text on
  "Pretty Good Tacos!" so the best way to do that is to use flexbox */
  /* not grid like this because if you uncomment this you'll see
  that it doesn't quite do what we want in the final version */
  /* display: grid;
  justify-content: start;
  align-content: center; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* i believe > * gets all children of this class */
.hero > * {
  background: var(--yellow);
}

.cta {
  background: var(--yellow);
  display: grid;
  align-items: center;
  justify-items: center;
  /* "star" this is the one that smushes them right on top of each other */
  align-content: center;
}

/* "star" and the margin: 0 here helps too */
.cta p {
  margin: 0;
}

.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2;
}

.price {
  font-size: 60px;
  font-weight: 300;
}

/* Navaigation */

.menu ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  /* this is margin on the top and bottom only */
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

/* you can grab the links all the way from .menu */
.menu a {
  background: var(--yellow);
  /* default is inline so we have to set it to block to 
  get the yellow to go all the way over */
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}

/* aria-controls is an attribute selector */
[aria-controls="menu-list"] {
  display: none;
}

/* Features */

.features {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature {
  /* don't need a grid always */
  /* use text-align durp! */
  text-align: center;
  background: white;
  border: 1px solid white;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.feature .icon {
  font-size: 50px;
}

.feature p {
  color: rgba(0, 0, 0, 0.5);
}

/* About */

.about {
  background: white;
  padding: 50px;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
}

/* Gallery */


.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
  width: 100%;
}

/* this is unnecessary */
/* h2 {
  display: grid;
  grid-template-columns: auto;
} */
/* just do this instead: */
.gallery h2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  /* vertical centering */
  align-items: center;
}

/* ok at first it may seem silly to put a display: grid on an h2 */
/* but after you put this before and after biz on, it has 3 items */
/* 
  ::before
  Instant Grams
  ::after 
*/
.gallery h2:before, .gallery h2:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), var(--yellow),
  transparent);
}

.gallery h2::after {
  /* background: linear-gradient(to right, var(--yellow),
  transparent); */
  --direction: right;
}

@media (max-width: 1000px) {
  .menu {
    order: -1;
    /* when it's flippin out it's kind of facing you like megaman text with this: */
    perspective: 800px; 
  }
  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px; 
  }

  .menu ul {
    /* ### this is a kind of trick to get the menu to slide up into the menu box */
    max-height: 0;
    /* if we don't put this, then we end up with a funky line with a stretched perspective */
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    /* ### this is a kind of trick to get the menu to slide up into the menu box */
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }
}

@media (max-width: 700px) {
  .top {
    grid-template-areas:
      "hero hero"
      "cta1 cta2"
  }
  /* About */
  .about {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas:
      "hero"
      "cta1"
      "cta2"
  }
}



